body {
  color: #666666;
  width: 980px;
  font-size: 12px;
}

h1 {
  font-size: 18px;
  padding-left: 20px;
}

ul {
  margin: 0;
  padding-left: 22px;
}

ul li {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  list-style-type: decimal;
  margin: 0;
}

p {
  font-weight: bold;
  width: 80%;
  background: #cdcdcd;
  padding: 20px;
  min-height: 40px;
}

.base64 {
  width: 184px;
  height: 203px;
  background: url(../images/gulp.png#base64) 0 0 no-repeat;
}
